body {
  padding-top: 56px;
}

.carousel-item {
  height: 65vh;
  min-height: 300px;
  background: no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.portfolio-item {
  margin-bottom: 30px;
}

/*-----------------------
          nav
------------------------*/
.img-fluid {
    border-radius: 7px;
}

.navbar{
  background-color: white!important;
  margin-top: -56px;
}

.navbar-brand img{
  height: 50px;
  width: 110px;
}

.dropdown-menu{
  border-color: white!important;
}

.navbar-light .navbar-nav .nav-link {
  color: #005674;
}

.navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show>.nav-link {
  color: #005674;
}

.navbar-toggler:not(:disabled):not(.disabled) {
  cursor: pointer;
  border: none;
  outline: none;
}

.dropdown-toggle{
  color: #005674;
}

.dropdown-item{
  color: #005674;
}

.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover{
  color: initial!important;
}

.nav-item:hover{
  background-color: #c5ecff;
}

.navbar-expand-lg .navbar-nav .dropdown-menu {
  left: 0!important;
}

.dropdown-item:hover{
  background-color: #c5ecff!important;
}

/*----------------------
          header
----------------------*/
#myNav span{
  color: red;
}
.carousel-caption{
  top: 152px!important;

}

.main-h{
  color: #005674!important;
  font-family: sans-serif;
  font-weight: 800;
}

.main-p{
  font-size: 29px;
  line-height: 39px;
}

.main-btn{
  width: 218px;
  font-size: 23px;
  border-radius: 16px;
  margin-top: 47px;
  height: 42px;
  background-color: #005674;
  cursor: pointer;
  color: white;
  outline: none;
  text-decoration: none;
}

.parallax-overlay {
  background-color: rgba(0, 0, 0, 0.45);
  height: 100%;
}

form {
    font-family:sans-serif;
}

/*---------------------------
            OFFERT
---------------------------*/
.offert {
  width: 570px;
  background-color: whitesmoke;
  position: relative;
  font-family: sans-serif;
  margin: 5px auto 0;
  padding-left: 15px;
  border-radius: 5px;
}

.offert h4 {
  color: #005674;
  font-weight: bold;
  font-size: 17px;
  display: block;
  margin-top: -20px;
  text-align: center;
  padding-bottom: 0;
}
.closeButton{
  color: #005674;
  cursor: pointer;
  position: relative;
  left: 86%;
  font-size: 29px;
  margin: 0px;
  width: 80px;
}

.navCloseButton{
  color: #e0e7ec;
  cursor: pointer;
  position: relative;
  left: 45%;
  font-size: 35px;
  margin: 0;
  padding: 0;
}

.navCloseButton:hover{
  color: #005674;
}

.offert input[type=text] {
  width: 100%;
  font-size: 14px;
  outline: none;
}
.lab label {
  margin-left: 127px;
}
.offert textarea {
  width: 493px;
  padding: 12px;
  border: 1px solid #ccc;
  resize: vertical;
  color: #737373;
  outline: none;
  height: 50px;
}
.offert input {
  height: 30px;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
  background-color: white;
  outline: none;
  color: #737373;
}
.offert select {
  width: 236px;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
  color: #737373;
  outline: none;
  font-size: 14px;
  background-color: white;
  outline: none;
}
.offert label {
  display: inline-block;
  float: left;
  font-size: 14px;
  padding: 0;
  margin: 0;
}
.offert input[type=submit] {
  background-color: #005674!important;
  color: white;
  padding: 0 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 14px;
  outline: none;
  display: block;
  margin: 20px auto;
}
.offert input[type=submit]:hover {
  background-color: #005674;
  outline: none;
}
.offert .col-50 {
  float: left;
  width: 260px;
  margin-top: 10px;
  padding-right: 23px;
}
.offert .col-75 {
  float: left;
  width: 495px;
  margin-right: 22px;
}
.cv {
  display: flex;
  justify-content: center;
  color: #5f5f5f;
}
.textArea {
  font-size: 14px;
  color: #5f5f5f;
  margin-top: 10px;
}

#offert .row:after {
  content: "";
  display: table;
  clear: both;
}

.overlay {
  height: 100%;
  width: 100%;
  display: none;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  font-family: serif;
  background-color: rgba(0, 0, 0, 0.94);
  overflow-x: hidden;
  transition: 0.5s;
}
.card-body {
    text-align: center;
    padding-bottom: 0;
    margin-top:0;
    border-radius: 0 0 5px 5px;
}

#homeIntro {
  background-image: url("../images/bgImage.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 90vh;
}

.home-intro-content {
  padding: 9em 0;
  text-align: center;
}
.rotav-img{
    max-width:300px;
}


.home-intro-content h1 {
  font-size: 35px;
  font-weight: 800;
  margin-bottom: 50px;
  font-family: sans-serif;
  text-shadow: 0 0 25px white;
  color: #005674 !important;
}

.home-intro-content p {
      font-size: 26px;
    line-height: 33px;
    margin-bottom: 46px;
}

.home-intro-content button {
  height: 38px;
  width: 190px;
  border-radius: 10px;
  font-size: 17px;
  outline: none;
  background-color: #005674;
  color: #e0e7ec;
  cursor: pointer;
}

.parallax {
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  color: #fff;
  overflow: hidden;
}

.parallax-overlay {
  background-color: rgba(0, 0, 0, 0.2);
  height: 100%;
}

/*------------------------------------------
      V채lkommen, vara, kvalitet
-------------------------------------------*/
.card-body {
    border-radius: 5px;
    text-align: center;
    padding-bottom: 0;
    padding-top: 30px;
}
.title{
  font-weight: bold;
  color: #005674;
  font-family: sans-serif;
  text-align: center;
  font-size: 18px;
}

.for-varaBlock{
  margin-bottom: 6px;
  margin-top: 15px;
  background-color: white;
}

p{
  font-family: sans-serif;
  line-height: 30px;
  text-align: center;
}

.box-for-valkommen{
  background-color: #f1f1f1;
  padding-top: 20px;
  padding-bottom: 20px;
}

.card-body{
  padding: 0;
  margin-top: 0;
}

.box-for-vara{
background-color: #d8dee4;;
  padding-top: 20px;
  padding-bottom: 20px;
  min-height: 445px;
}

.box-for-kvalitet{
  background-color: #f1f1f1;
  padding-top: 20px;
  padding-bottom: 20px;
}

.container-fluid{
  padding-left: 0;
  padding-right: 0;
}

.card{
  border:none;
}

.card a{
  text-decoration: none;
}

.for-kvalitetBG{
  background-color: #f1f1f1;
}
.card-body{
  border-radius: 5px;
}

.pt-4{
  margin: 0;
}

.justify-content-center {
  -ms-flex-pack: center!important;
  justify-content: center!important;
  margin: 0;
}

.for-icon{
  display: flex;
  flex-direction: row;
  color: #005674;
  justify-content: center;
}
/*--------------------------
          vara
--------------------------------*/

.for-firstBlock p {
  text-align: left !important;
}

.for-firstBlock h1 {
  text-align: left !important;
}

.for-block {
  justify-content: center;
}
.main{
  background-color: #f1f1f1;
}


.for-rotavdrag{
  height: 500px;
}

.rotav_box {
  display: flex!important;
  justify-content: center!important;
  align-items: center!important;
}
.for-omOssOne{
  height: 60px;
  margin-top: 20px;
}
.for-omOssTwo{
  height: 125px;
  margin-left: 20px;
  margin-top: -28px;
}

.om_oss{
  min-height: 580px;
}
/*---------------------------------------------
                     SLIDER
----------------------------------------------*/
.sliderItem i{
  color: #ffa625;
  font-size: 18px;
}

.sliderBlock{
  background-color: #d1d1e2;
}

/*---------------------------------------------
                      FOOTER
----------------------------------------------*/
.globeCont {
  display: flex;
  flex-direction: column;
  margin: -15px auto;
}

.overlay-content {
 background-color: rgba(0, 0, 0,-1.45);
  z-index: 111;
}

.overlay a {
  text-decoration: none;
  font-size: 22px;
  color: #f1f1f1;
  display: block;
  transition: 0.3s;
  text-align: center;
}

.overlay a:hover {
  color: #005674;
  background-color: inherit;
}

#footer {
  background-color: lightgray;
  position: relative;
  bottom: 0;
  width: 100%;
  margin-top: auto;
  padding-top: 17px;
  height: 85px;
}

#footer .footerSection {
  text-align: center;
}

#footer .footerSection .icons a i {
  border-radius: 100%;
  box-shadow: 0 0 0 -2px rgba(0, 0, 0, 0.1), 0 0 0 3px #fff, 0 0 0 6px rgba(0, 0, 0, 0.1);
  font-size: 26px;
  line-height: 3em;
  width: 3em;
  color:#005674;
  background-color: inherit;
}

#footer ul.icons {
  cursor: default;
  list-style: none;
  padding-left: 0;
}

#footer ul.icons li {
  display: inline-block;
  border-radius: 100%;
  box-shadow: 0 0 0 -2px rgba(0, 0, 0, 0.1);
  width: 4em;
  margin-left: 10px;
}

#footer ul.icons li:last-child {
  padding-right: 0;
}

#footer ul.icons li .icon:before {
  font-size: 2em;
}

#footer ul.icons li a:hover{
  background-color: lightblue;
}

#footer ul.icons .overlay a:hover{
  background-color: inherit;
}


#footer .overlay{
  background-color: rgb(5, 5, 5, 0.96);
  height: 100%;
  z-index: 111;
}
/*----------------------------
         KONTAKT
------------------------------*/
.footer .row{
  align-items: end;
}
.fa-asterisk {
  color: red;
  font-size: 10px;
  position: absolute;
}

input:focus, textarea:focus {
  outline: none;
}

form button {
  margin: 8px auto 20px;
  display: block;
  width: 91px;
  font-size: 17px;
  outline: none;
  background-color: #005674;
  color: white;
  border-radius: 5px;
}

.section {
  background-color: #b1b1b1;
  width: 246px;
  margin-top: 25px;
  margin-left: 65px;
  height: 342px;
  border-radius: 5px;
}

.section hr {
  border: 0;
  border-top: 1px solid #8d8fde;
  width: 228px;
}

.section h4 {
  color: #005674;
  font-weight: bold;
  font-size: 19px;
  padding-top: 15px;
  text-align: center;
}

.section p {
  color: white;
  font-weight: bold;
  font-size: 18px;
  text-align: center;
}

.section ul {
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.section ul i {
  font-size: 33px;
  margin-right: 50px;
  color: #005674;
  margin-top: 20px;
}




/*----------------------------------------------------------
 Golvlaggning & flyttstadning & koksrenovering
 ------------------------------------------------------------*/
.golvmain{
  background-color: #f1f1f1;
  padding-left: 50px;
  padding-right: 50px;
}

.golvmain p{
  text-align: left;
  margin-bottom: 12px;
}

.golvmain h1 {
  font-weight: bold;
  color: #005674;
  font-family: sans-serif;
  text-align: left;
  font-size: 20px;
  margin-top: 30px;
  margin-bottom: 10px;
}

.golvimg{
  border-radius: 5px;
}

.golvmain h2{
  color: #005674;
  font-size: 18px;
  margin-top: 15px;
  margin-left: 40px;
  font-weight: bolder;
}

.golvmain h4{
  color: #005674;
  font-size: 15px;
  margin-left: 40px;
  margin-top: 20px;
}


.golvmain ul li{
  margin: 0 25px;
  position: relative;
}

.flylist{
  background-color: #f5f5f5;
  display: block;
  margin: 20px auto;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.kokimg{
  margin: 25px auto;
}
/*vara cards*/
.for-varaBlock{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  z-index: 11;
  position: relative;
}

.box-for-vara .portfolio-item {
  margin-bottom: 30px;
  transform: scale(0.9);
}

.box-for-vara .portfolio-item:hover{
  transform: scale(1);
}

.portfolio-item .img-fluid{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  z-index: 1;
  position: relative;
}
